# Server
PORT=3000
NODE_ENV=development

#db url
#postgresql://[user]:[password]@[host]:[port]/[database_name]
DATABASE_URL=postgres://[user]:[password]@localhost:5432/ping_db

#postgre
POSTGRE_USER=postgres
POSTGRE_PASSWORD=your_postgres_password
POSTGRE_DB=ping_db
POSTGRE_HOST=localhost

#pg admin
PGADMIN_EMAIL=demo@demo.com
PGADMIN_PASSWORD=your_pgadmin_password

#secrets
JWT_SECRET=your_jwt_secret

# Redis Configuration (Use 'localhost' for local, 'redis' if running Node in Docker)
REDIS_URL=redis://localhost:6379

# Frontend (For CORS and Email Links)
FRONTEND_URL=http://localhost:5173

# Clerk Authentication (Omit if using manual login only)
CLERK_SECRET_KEY=sk_test_... 

# SMTP Email Configuration (Ethereal defaults for dev) 
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=your_ethereal_email
SMTP_PASS=your_ethereal_password

#resend api key
RESEND_API_KEY=api_key
EMAIL_FROM=your_domain_mail
